In [1]:
import pandas as pd

In [7]:
df=pd.read_csv('nse_data.csv')
df.head() # it will not show all data but give overview of data how it is

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,22-Jun-2022,64.55,63.20,66.85,62.60,65.00,63.70,64.50,86862,56.03,2566,34017,39.16
1,21STCENMGM,EQ,22-Jun-2022,22.80,23.25,23.25,23.25,23.25,23.25,23.25,4,0.00,2,4,100.00
2,3IINFOLTD,EQ,22-Jun-2022,39.70,40.50,40.50,39.25,39.40,39.60,39.68,210847,83.65,2548,115683,54.87
3,3MINDIA,EQ,22-Jun-2022,19987.40,19900.00,19900.00,19634.85,19899.90,19764.85,19799.33,54194,10730.05,963,53144,98.06
4,3PLAND,EQ,22-Jun-2022,14.15,13.45,14.45,13.45,13.65,14.00,13.81,4985,0.69,58,3936,78.96